# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE
.idea/
.vs/
*.csproj
*.sln
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Test results
*.xml

# Builds
Build/
*.apk

# Python
__pycache__/
*.pyc
.venv/
